[submodule "py3status"]
	path = py3status
	url = https://github.com/fmgb/py3status
[submodule "powerline fonts"]
	path = .fonts/fonts
	url = https://github.com/powerline/fonts.git
[submodule "fish-omf"]
	path = fish/omf
	url = https://github.com/oh-my-fish/oh-my-fish.git
